@model IEnumerable<AspNetCoreDbSample.Models.Entities.Blog>

@{
    ViewData["Title"] = "Blogs";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Create Post</th>
                <th>View Posts</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-controller="Posts" asp-action="Create" asp-route-blogId="@item.BlogId">New Post</a>
                    </td>
                    <td>
                        <a asp-action="Posts" asp-route-blogId="@item.BlogId">View Posts</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BlogId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BlogId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>